/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.search input {
	outline: none;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: right;
    outline: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #a5a5a5;
    padding-left: 8px;
    height: 40px;
    font-size: 14px;
    width:38%;

}

::-webkit-input-placeholder {color:#a5a5a5;}
::-moz-placeholder          {color:#a5a5a5;}/* Firefox 19+ */
:-moz-placeholder           {color:#a5a5a5;}/* Firefox 18- */
:-ms-input-placeholder      {color:#a5a5a5;}
input::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.5s ease;}
input::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.5s ease;}
input:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.5s ease;}
input:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.5s ease;}
input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.5s ease;}
input:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.5s ease;}
input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.5s ease;}
input:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.5s ease;}

.help img{
    margin: 0 auto !important;
}

.sl {
 overflow:hidden;
 }

 .sl img {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 }
 
.sl img:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 }

 a img {
    border: none !important; /* Убираем рамку */
   }
